<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <header>
    {% if bannerAd %}
      {% include "vote-banner.njk" %}
    {% endif %}
    </header>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,32L48,48C96,64,192,96,288,117.3C384,139,480,149,576,181.3C672,213,768,267,864,288C960,309,1056,299,1152,250.7C1248,203,1344,117,1392,74.7L1440,32L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      <div class="wrapper">
        {{ content | safe }}
      </div>
    </main>

    <footer></footer>
  </body>
</html>