:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --superblue: #2c69b3;
  --fontDisplay: "MADE-Dillan", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-sans-serif: Roboto, sans-serif;
  --mamaBear: 32em;
}

* {
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  background-image: url("assets/waves.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  flex-basis: 100%;
  display: flex;
  /* height: 100%; */
}

/* text treatment */
.heading {
  --heading-min-font-size: 3em;
  font-family: var(--fontDisplay);
  font-weight: 400;
  font-size: var(--heading-min-font-size);
  font-size: clamp(var(--heading-min-font-size), 6vw, 4.25em);
  text-align: center;
}

/* sections */
.top-section {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 2rem;
  text-align: left;
  max-width: 65em;
  margin: 0 auto;
  align-items: center;
  padding: 0 2em;
}

.register-details--text {
  max-width: 37.577em;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 1.3;
  margin: 0 auto;
  padding: 1em;
  text-align: justify;
}

footer {
  padding: 1em;
  width: 100%;
  text-align: right;
}

/* svgs */
.vote-hand {
  height: 460px;
}

.vote-hand svg {
  height: 100%;
  width: 100%;
}

.state-outline {
  height: 460px;
  position: relative;
}

.state-outline svg {
  position: absolute;
  top:3em;
  width: 100%;
  height: 100%;
  fill: #ddae2c;
}

@media(min-width: 32em) {
}

/* papa Bear */
@media(min-width: 60em) {
  main, html {
    overflow: hidden;
  }

  .top-section {
    grid-template-columns: 1fr 2fr;
  }

  footer {
    position: absolute;
    bottom: 0;
  }

  .vote-hand {
    height: 100%;
  }

  .state-outline svg {
    position: relative;
    top: 0;
  }
}

@font-face {
  font-display: swap;
  font-family: "MADE-Dillan";
  font-weight: bold;
  src: url("fonts/MADE-Dillan.otf") format("opentype");
}
