:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #F7F8F8;
  --gray: #7D8589;
  --darkgray: #646E73;
  --black: #2D3B41;
  --blue: #146396;
  --white: #fff;
  --fontDisplay: "MADE-Dillan", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-sans-serif: Roboto, sans-serif;
  --font-medium: Roboto-Medium, sans-serif;
  --font-bold: Roboto-Bold, sans-serif;
  --mamaBear: 32em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  background-image: url("assets/top-wave.svg"), url("assets/bottom-wave.svg");
  background-position: right top, left calc(100% + 100px);
  background-repeat: no-repeat;
  background-size: 60%, 100%;
  background-attachment: fixed;
  font-family: var(--font-sans-serif);
  color: var(--darkgray);
}

main {
  flex-basis: 100%;
  display: flex;
  font-weight: 200;
  font-size: 16px;
  /* height: 100%; */
}

/* text treatment */
.heading {
  --heading-min-font-size: 3em;
  font-family: var(--fontDisplay);
  font-size: var(--heading-min-font-size);
  font-size: clamp(var(--heading-min-font-size), 6vw, 4.25em);
  text-align: center;
  color: var(--blue);
}

a {
    color: var(--blue);
}

a:hover {
    color: var(--black);
    text-decoration: none;
    fill: #2D3B41;
}

/* sections */
.top-section {
  display: grid;
  grid-gap: 3rem;
  margin-bottom: 2rem;
  text-align: left;
  max-width: 72em;
  margin: 0 auto;
  align-items: center;
  padding: 0 2em;
}

.register-details--text {
  max-width: 37.577em;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0 auto;
  padding: 1.3em 0;
}

.register-details--reference-link {
  position: absolute;
}

.register-details--reference-link a::after {
  content: "";
  background: url("assets/icon-external-link-highlight.svg") 50% / contain no-repeat;
  margin: 0 0.15rem;
  padding-right: 0.65rem;
}

.external-link {
  font-size: 1em;
  position: relative;
  margin-top: 1em;
  font-family: var(--font-bold);
  font-weight: bold;
}

.register-link--header h3 {
  margin-bottom: 18px;
  font-weight: 500;
}

.register-link--header:not(:first-child) {
  margin-top: 32px;
}

.register-state {
  background: var(--lightgray);
  color: var(--black);
  padding: 6px 6px 6px 2px;
  font-weight: bold;
  border-radius: 6px;
}

.register-date {
  font-weight: medium;
  color: var(--black);
}

.registration-details--chunk p:not(:first-child) {
  margin-top: 8px;
}

footer {
  padding: 1em;
  width: 100%;
  text-align: right;
}

.bold {
  font-weight: bold;
  color: var(--black);
}

/* svgs */
.vote-hand {
  margin-top: -10px;
  height: 460px;
}

.vote-hand svg {
  display: block;
  height: 110%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.state-outline {
  height: 460px;
  position: relative;
}

.state-outline svg {
  position: absolute;
  top: 3em;
  width: 100%;
  height: 100%;
  fill: #ffad43;
}

.state-outline::after {
  content: "";
  display: block;
  height: 10%;
  width: 10%;
  /* background-image: url("assets/vote-badge.svg"); */
}

.vote-badge svg {
  width: 30%;
  position: absolute;
  top: -5%;
  right: 22%;
}

@media (min-width: 20em) {
  .vote-badge svg {
    width: 30%;
    position: absolute;
    top: -11%;
    right: 22%;
  }
}

@media (min-width: 32em) {
  .vote-badge svg {
    width: 20%;
    position: absolute;
    top: -30%;
    right: 30%;
  }
}

/* papa Bear */
@media (min-width: 60em) {
  main,
  html {
    overflow: hidden;
  }

  .heading {
    text-align: left;
  }

  .top-section {
    grid-template-columns: 1fr 2fr;
  }

  footer {
    color: var(--gray);
    position: absolute;
    bottom: 0;
  }

  footer a {
    color: var(--gray);
  }

  .vote-hand {
    height: 100%;
  }

  .state-outline svg {
    position: relative;
    top: 0;
  }

  .vote-badge svg {
    width: 30%;
    position: absolute;
    top: -30%;
    right: 30%;
  }
}

@font-face {
  font-display: swap;
  font-family: "MADE-Dillan";
  font-weight: bold;
  src: url("fonts/MADE-Dillan.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: normal;
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  font-weight: medium;
  src: url("fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  font-weight: bold;
  src: url("fonts/Roboto-Bold.ttf") format("truetype");
}
