---
layout: layouts/base.njk
pagination:
    data: registerByState
    size: 1
    alias: state
permalink: "state/{{ state | slug }}/index.html"
---
<div class="top-section">
  <div class="state-outline">
  {{ state | getSVGURL | svgContents('class') | safe }}
  </div>
  <section class="register-details">
    <h1 class="heading">Register to Vote</h1>
    <div class="register-details--text">
      <div class="register-details--links register-link--header">
        <h3>How to Register in <span class="register-state">📍{{ state | getStateName }}</span></h3>
        <div class="registration-details--chunk">
          {% if registerByState[state].links.online %}
          <p>Register online at <span class="register-details--reference-link external-link"><a href="{{ registerByState[state].links.online }}">{{ state | getStateName }}’s state election website.</a></span></p>
          {% endif %}
          {% if registerByState[state].links.mail %}
          <p>Register by mail at <span class="register-details--reference-link external-link"><a href="{{ registerByState[state].links.mail }}">{{ state | getStateName }}’s state election website.</a></span></p>
          {% endif %}
          {% if registerByState[state].links["in person"] %}
          <p>Register in person at <span class="register-details--reference-link external-link"><a href="{{ registerByState[state].links['in person'] }}">{{ state | getStateName }}’s state election website.</a></span></p>
          {% endif %}
        </div>
      </div>
      <div class="registration-details--deadlines register-link--header">
        <h3>Voter registration deadlines in <span class="register-state">📍{{ state | getStateName }}</span></h3>
        <div class="registration-details--chunk">
          {% if registerByState[state].dates.online %}
          <p>Online Registration: <span class="register-date">{{ registerByState[state].dates.online | addSpaces }}</span></p>
          {% endif %}
          {% if registerByState[state].dates.mail %}
          <p>Mail-in Registration: <span class="register-date">{{ registerByState[state].dates.mail | addSpaces }}</span></p>
          {% endif %}
          {% if registerByState[state].dates["in person"] %}
          <p>In-person Registration: <span class="register-date">{{ registerByState[state].dates["in person"] | addSpaces }}</span></p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  
</div>